<h2>Form for taxon diff</h2>

<form>
    <input type="hidden" name="requestedPage" value="REPORT" />
    <table>
        <tr>
            <th><label for="startDate">Start Date:</label></th>
            <td><input class="datepicker" id="startDate" type="text" name="startDate" /></td>
        </tr>
        <tr>
            <th><label for="endDate">End Date:</label></th>
            <td><input class="datepicker" id="endDate" type="text" name="endDate" /></td>
        </tr>
    </table>
    <input type="submit" class="form_action" value="Create Report" />
</form>

<script type="text/javascript">
    
</script>

