
## Macro for writing a row to the field guide table
#macro(fieldGuideTaxonRankRow $taxon)
#if(${taxon.parent})
    #fieldGuideTaxonRankRow(${taxon.parent})
#end

<tr class="fieldguide_taxon_rank_row">
    <th class="textright">${taxon.getTaxonRank().getIdentifier()}</th>
    <td
        #if(${TaxonRank.SPECIES} == ${taxon.getTaxonRank()})
            class="scientificName"
        #elseif(${TaxonRank.GENUS} == ${taxon.getTaxonRank()})
            class="scientificName"
        #end
    >
        <a href="${portalContextPath}/fieldguide/taxon.htm?id=${taxon.id}">
            ${taxon.scientificName}
        </a>
    </td>
</tr>
#end
## end fieldGuideTaxonRankRow macro

<h1>
    <span>
        ${taxon.commonName}
    </span>
    <span class="scientificName">
        ${taxon.scientificName}
    </span>
</h1>

<h3 class="scientificClassificationHeader">Scientific Classification</h3>
<table class="scientificClassification">
    <tbody>
        #fieldGuideTaxonRankRow(${taxon})
    </tbody>
</table>

#if(!${taxon.attributes.isEmpty()})
    <h3 class="field_guide_header">Identification</h3>
    <table>
        <tbody>
            #foreach($taxonAttr in ${taxon.attributes})
                #if(${taxonAttr.attribute.tag})
                    <tr>
                        <th class="textright">
                            ${taxonAttr.attribute.description}
                        </th>
                        <td>
                        #if('IMAGE' == ${taxonAttr.getAttribute().getType()})
                            <a href="${portalContextPath}/files/download.htm?${taxonAttr.getFileURL()}">
                                <img class="max_size_img" src="${portalContextPath}/files/download.htm?${taxonAttr.getFileURL()}" alt="${taxonAttr.stringValue}"/>
                            </a>
                        #elseif('FILE' == ${taxonAttr.getAttribute().getType()})
                            <a href="${portalContextPath}/files/download.htm?${taxonAttr.getFileURL()}">
                                ${taxonAttr.stringValue}
                            </a>
                        #elseif('AUDIO' == ${taxonAttr.getAttribute().getType()})
                            <a href="${portalContextPath}/files/download.htm?${taxonAttr.getFileURL()}">
                                ${taxonAttr.stringValue}
                            </a>
                        #elseif('CENSUS_METHOD_ROW' == ${taxonAttr.getAttribute().getType()} || 
                                'CENSUS_METHOD_COL' == ${taxonAttr.getAttribute().getType()})
                            <div id="attribute_${taxonAttr.getAttribute().getId()}" />
                        #else
                            ${taxonAttr.stringValue}
                        #end
                        </td>
                    </tr>
                #end
            #end
        </tbody>
    </table>
#end

<c:set var="profiledescription" value="" scope="page"></c:set>

#foreach($profile in ${taxon.infoItems})
    #if(${profile.content})
        <div class="fieldguide_profile_item">
            #if(${profile.description} != ${profiledescription})
                <h3 class="field_guide_header">
                    ${profile.description}
                </h3>
                #set($profiledescription=${profile.description})
            #end
            #if(${profile.isImgType()})
                <a class="left" href="${portalContextPath}/files/downloadByUUID.htm?uuid=${profile.content}">
                    <img class="max_size_img" src="${portalContextPath}/files/downloadByUUID.htm?uuid=${profile.content}"/>
                </a>
                
                <cw:getManagedFile uuid="${profile.content}" var="managedFile"/>
                <div class="right textright imageProperties">
                    #if(${managedFile.credit})
                        <div>
                            Credit:&nbsp;${managedFile.credit}
                        </div>
                    #end
                    #if(${managedFile.license})
                        <div>
                            Permission:&nbsp;${managedFile.license}
                        </div>
                    #end
                    #if(${managedFile.description})
                        <div>
                            Description:&nbsp;${managedFile.description}
                        </div>
                    #end
                </div>
                <div class="clear"></div>
            #end
            #if(${profile.isAudioType()})
                <audio src="${portalContextPath}/files/downloadByUUID.htm?uuid=${profile.content}"
                    controls="controls" preload>
                    ${profile.content}
                </audio>
                <cw:getManagedFile uuid="${profile.content}" var="managedFile"/>
                <div class="right textright">
                    <div>
                        Credit:&nbsp;${managedFile.credit}
                    </div>
                    <div>
                        Permission:&nbsp;${managedFile.license}
                    </div>
                </div>
                <div class="clear"></div>
            #else
                <p><span class="profileContent 
                    #if(${profile.isScientificNameType()})
                        scientificName
                    #end
                    ">
                ${profile.content}
                #if(${profile.source})
                    #if(${profile.isTextType()})
                            <br></br>
                    #else
                        ,&nbsp;
                     #end
                     <span class="profileSource">Source:&nbsp;${profile.source}</span>
                 #end
                 </p>
            #end
        </div>
    #end
#end

<script type="text/javascript">
    html5media.configureFlowplayer = function (tag, element, config){
        if(tag === 'audio') {
            config.clip.type = 'audio';
       }
        config.plugins.controls.all = false;
        config.plugins.controls.play = true;
        config.plugins.controls.scrubber = true;
        config.plugins.controls.volume = true;
   };
   
   jQuery(function() {
       // request the flattened taxon and build the census method attributes tables
       jQuery.getJSON('${portalContextPath}/webservice/taxon/getTaxonById.htm?id=${taxon.id}&depth=4', function(taxon) {
            var attrVal;
            // { Attribute.id : IndicatorSpeciesAttribute }
            var attrToAttrValMap = {};
            for(var attrValIndex=0; attrValIndex < taxon.attributes.length; attrValIndex++) {
                attrVal = taxon.attributes[attrValIndex];
                attrToAttrValMap[attrVal.attribute.id] = attrVal;
            }
            var groupAttr;
            var displayElem;
            for(var groupAttrIndex=0; 
                groupAttrIndex < taxon.taxonGroup.attributes.length; 
                groupAttrIndex++) {
                
                groupAttr = taxon.taxonGroup.attributes[groupAttrIndex];
                // If there is no data, do not show anything
                if(attrToAttrValMap[groupAttr.id] !== undefined) {
                    displayElem = jQuery("#attribute_"+groupAttr.id);
                    attrVal = attrToAttrValMap[groupAttr.id];
                    var attr_type = bdrs.model.taxa.attributeType.code[groupAttr.typeCode]
                    if (attr_type.isCensusMethodType()) {
                        displayElem.parent().append(bdrs.attribute.createCensusMethodTable(attr_type, attrVal, false));
                    }
                }
            }
        });
   });
</script>