<html>
    <body>
        <p>Your taxonomy import has started. You will receive another email when the import has finished running.</p>
        <p>Please do not start another taxonomy import until you receive an email reporting import success or failure.</p>
    </body>
</html>
